<% include common/_head %>

<% var annotationList %>
<table border="1" >
<% annotationList.forEach((annotation) => { %>
    <tr>
        <td><%= annotation.userName %></td>
        <td >
            <canvas id="<%= annotation._id%>" width="500px" height="500px"></canvas>
            <input type="button" class="dispData" id="td" name="<%= annotation._id%>" value=<%= annotation.data.path %> >
        </td>    
        <td><%= annotation.pageNum %></td>
        <td><%= annotation.pdfName %></td>
        <td><%= annotation.time %></td>
    </tr>
<% }) %>
</table>
<script src="../js/annotationLog.js"></script>