    <% include common/_head %>

<body class="main-body">
    <% include common/_header %>
    <div class="container">
        <div class="col-sm-8 mx-auto">
            <div class="row">
                <% var array %>
                <div class="col">
                    <% array.forEach(function(value,key){ %>
                            <div class="menuLayout">
                                <% if (userName !== 'teacher') { %>
                                <a href='/index?id=<%= userName %>&pdfname=<%= value %>'
                                 type="submit" name='pdfname'><%= value %></a>
                                 <% }else{ %>
                                 <a href='/teacher?id=<%= userName %>&pdfname=<%= value %>'
                                     type="submit" name='pdfname'><%= value %></a>
                                <% } %>
                            </div>
                        <% }) ;%>
                    <!-- <form method="post" action='/main'>
                        <input type='hidden' name='userName' value=<%= userName %>>
                        <% array.forEach(function(value,key){ %>
                            <div >
                                <input class="btn btn-light round-circle-0" type="submit" name='pdfname' value=<%= value %>>
                            </div>
                        <% }) ;%>
                    </form> -->
                </div>
            </div>
        </div>
        </div>
    </div>
    

</body>

</html>